<% if false %>
    <h1>Login Page</h1>

    <%= form_tag("/sessions",{method:"POST"}) do |f| %>
    
      <div class="field">
        Username<br>
        <%= text_field :user, :username %>
      </div>
      <div class="field">
        Password<br>
        <%= password_field :user, :password %>
      </div>
      <div class="actions">
        <%= submit_tag "Login" %>
      </div>
    <% end %>
<% end %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Sentir, Responsive admin and dashboard UI kits template">
        <meta name="keywords" content="admin,bootstrap,template,responsive admin,dashboard template,web apps template">
        <meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
        <title>Goniometer: Login</title>
 
        <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
        <link href="/template/assets/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- PLUGINS CSS -->
        <link href="/template/assets/plugins/weather-icon/css/weather-icons.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/prettify/prettify.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/owl-carousel/owl.theme.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/owl-carousel/owl.transitions.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/chosen/chosen.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/icheck/skins/all.css" rel="stylesheet">
        <link href="/template/assets/plugins/datepicker/datepicker.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/validator/bootstrapValidator.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/summernote/summernote.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/markdown/bootstrap-markdown.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/datatable/css/bootstrap.datatable.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/morris-chart/morris.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/c3-chart/c3.min.css" rel="stylesheet">
        <link href="/template/assets/plugins/slider/slider.min.css" rel="stylesheet">
        
        <!-- MAIN CSS (REQUIRED ALL PAGE)-->
        <link href="/template/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/template/assets/css/style.css" rel="stylesheet">
        <link href="/template/assets/css/style-responsive.css" rel="stylesheet">
 
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
 
    <body class="login tooltips">
        <!--
        ===========================================================
        BEGIN PAGE
        ===========================================================
        -->
        <div class="login-header text-center">
            <img src="/template/assets/img/logo-login.png" class="logo" alt="Logo">
        </div>
        <div class="login-wrapper">
            <% if flash[:alert]%>
                <div class="alert alert-danger alert-bold-border fade in alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><%= flash[:alert] %></strong>
                </div>
            <% end %>
            
            <%= form_tag("/sessions",{method:"POST"}) do |f| %>
                <div class="form-group has-feedback lg left-feedback no-label">
                    <%= text_field :user, :username, class: "form-control no-border input-lg rounded", placeholder: "Enter username", autofocus: true %>
                    <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback lg left-feedback no-label">
                    <%= password_field :user, :password, class: "form-control no-border input-lg rounded", placeholder: "Enter password" %>
                    <span class="fa fa-unlock-alt form-control-feedback"></span>
                </div>
                <div class="form-group">
                    <%= submit_tag "LOGIN", class: "btn btn-warning btn-lg btn-perspective btn-block" %>
                </div>
            <% end %>
            
            <!--p class="text-center"><strong><a href="forgot-password.html">Forgot your password?</a></strong></p>
            <p class="text-center">or</p>
            <p class="text-center"><strong><a href="register.html">Create new account</a></strong></p-->
        </div><!-- /.login-wrapper -->
        <!--
        ===========================================================
        END PAGE
        ===========================================================
        -->
        
        <!--
        ===========================================================
        Placed at the end of the document so the pages load faster
        ===========================================================
        -->
        <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
        <script src="/template/assets/js/jquery.min.js"></script>
        <script src="/template/assets/js/bootstrap.min.js"></script>
        <script src="/template/assets/plugins/retina/retina.min.js"></script>
        <script src="/template/assets/plugins/nicescroll/jquery.nicescroll.js"></script>
        <script src="/template/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/template/assets/plugins/backstretch/jquery.backstretch.min.js"></script>
 
        <!-- PLUGINS -->
        <script src="/template/assets/plugins/skycons/skycons.js"></script>
        <script src="/template/assets/plugins/prettify/prettify.js"></script>
        <script src="/template/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/template/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
        <script src="/template/assets/plugins/chosen/chosen.jquery.min.js"></script>
        <script src="/template/assets/plugins/icheck/icheck.min.js"></script>
        <script src="/template/assets/plugins/datepicker/bootstrap-datepicker.js"></script>
        <script src="/template/assets/plugins/timepicker/bootstrap-timepicker.js"></script>
        <script src="/template/assets/plugins/mask/jquery.mask.min.js"></script>
        <script src="/template/assets/plugins/validator/bootstrapValidator.min.js"></script>
        <script src="/template/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
        <script src="/template/assets/plugins/datatable/js/bootstrap.datatable.js"></script>
        <script src="/template/assets/plugins/summernote/summernote.min.js"></script>
        <script src="/template/assets/plugins/markdown/markdown.js"></script>
        <script src="/template/assets/plugins/markdown/to-markdown.js"></script>
        <script src="/template/assets/plugins/markdown/bootstrap-markdown.js"></script>
        <script src="/template/assets/plugins/slider/bootstrap-slider.js"></script>
        
        <!-- EASY PIE CHART JS -->
        <script src="/template/assets/plugins/easypie-chart/easypiechart.min.js"></script>
        <script src="/template/assets/plugins/easypie-chart/jquery.easypiechart.min.js"></script>
        
        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="/template/assets/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="/template/assets/plugins/jquery-knob/jquery.knob.js"></script>
        <script src="/template/assets/plugins/jquery-knob/knob.js"></script>

        <!-- FLOT CHART JS -->
        <script src="/template/assets/plugins/flot-chart/jquery.flot.js"></script>
        <script src="/template/assets/plugins/flot-chart/jquery.flot.tooltip.js"></script>
        <script src="/template/assets/plugins/flot-chart/jquery.flot.resize.js"></script>
        <script src="/template/assets/plugins/flot-chart/jquery.flot.selection.js"></script>
        <script src="/template/assets/plugins/flot-chart/jquery.flot.stack.js"></script>
        <script src="/template/assets/plugins/flot-chart/jquery.flot.time.js"></script>

        <!-- MORRIS JS -->
        <script src="/template/assets/plugins/morris-chart/raphael.min.js"></script>
        <script src="/template/assets/plugins/morris-chart/morris.min.js"></script>
        
        <!-- C3 JS -->
        <script src="/template/assets/plugins/c3-chart/d3.v3.min.js" charset="utf-8"></script>
        <script src="/template/assets/plugins/c3-chart/c3.min.js"></script>
        
        <!-- MAIN APPS JS -->
        <script src="/template/assets/js/apps.js"></script>
        
    </body>
</html>