<%= form_for(@instruction) do |f| %>
  <% if @instruction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instruction.errors.count, "error") %> prohibited this instruction from being saved:</h2>

      <ul>
      <% @instruction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :motion_id %><br>
    <%= f.text_field :motion_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :axis_mode %><br>
    <%= f.number_field :axis_mode %>
  </div>
  <div class="field">
    <%= f.label :order_no %><br>
    <%= f.number_field :order_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
