<div class="row">
  <div class="col-sm-12">
      <div class="panel panel-info panel-block-color panel-square">
        <div class="panel-heading">
          <h3 class="panel-title">Datas</h3>
          <div class="right-content">
            <div class="btn-group">
              <%= link_to new_measure_path, class: "btn btn-warning" do %>
                <i class="fa fa-plus"></i> Add new data
              <% end %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="box">
            <div class="table-responsive">
              <table class="table table-striped table-hover" id="main-datatable">
                <thead class="the-box dark full">
                  <tr>
                    <th>Measure mode</th>
                    <th>Patient</th>
                    <th>Description</th>
                    <th>Measured at</th>
                    <th>Body part</th>
                    <th>Motion</th>                
                    <th>User</th>
                  </tr>
                </thead>
                <tbody>
                  <% (@measures).each do |measure| %>
                    <tr>
                      <td><%= link_to measure.measure_mode, measure_path(measure) %></td>
                      <td><%= measure.patient %></td>
                      <td><%= measure.description %></td>
                      <td><%= measure.measured_at %></td>
                      <td><%= measure.body_part %></td>
                      <td><%= measure.motion %></td>
                      <td><%= measure.user %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div>
        </div><!-- /.panel-body -->        
      </div><!-- /.panel panel-info -->
  </div><!-- /.col-sm-4 -->
</div>
<script>
  $(document).ready(function(){
      $('#main-datatable').dataTable();
  });
</script>