<h1>Listing measures</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Measure mode</th>
      <th>Patient</th>
      <th>Description</th>
      <th>Measured at</th>
      <th>Body part</th>
      <th>Motion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @measures.each do |measure| %>
      <tr>
        <td><%= measure.user %></td>
        <td><%= measure.measure_mode %></td>
        <td><%= measure.patient %></td>
        <td><%= measure.description %></td>
        <td><%= measure.measured_at %></td>
        <td><%= measure.body_part %></td>
        <td><%= measure.motion %></td>
        <td><%= link_to 'Show', measure %></td>
        <td><%= link_to 'Edit', edit_measure_path(measure) %></td>
        <td><%= link_to 'Destroy', measure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measure', new_measure_path %>
